//----------------------------------------------------
//      horse tornado bits
//----------------------------------------------------

.horse-tornado {
    max-width: 960px;
    margin: 40px auto;
    position: relative;
    box-sizing: border-box;

    &--contain {
        height: 0;
        width: 100%;
        padding-top: 56.25%;
        position: relative;
        overflow: hidden;
        background-color: #333;
    }

    &--slides {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: yellow;
    }

    &--slide {
        position: relative;
        float: left;
        height: 100%;
        background-color: #6F1CF8;
        padding: 30px;
        box-sizing: border-box;
        color: #fff;

        &:nth-of-type(2) {
            background-color: #A81CF8;
        }

        &:nth-of-type(3) {
            background-color: #F11CF8;
            color: #000;
        }

        &:nth-of-type(4) {
            background-color: #F81CA7;
            color: #000;
        }

        &:nth-of-type(5) {
            background-color: #F81C6C;
            color: #000;
        }
    }

    &--slide-content {
        text-align: center;
        font-size: 60px;
        font-weight: bold;
    }

    &--nav {
        background-color: #666;
        padding: 30px;
    }

    &--prev,
    &--next,
    &--slide-link {
        border: 0;
        padding: 0;
        border-radius: 8px;
        background-color: #000;
        color: #fff;
        text-align: center;
        transition: .5s background-color ease, .5s color ease;
        cursor: pointer;

        &:hover {
            background-color: #555;
        }

        &[disabled] {
            opacity: .5;

            &:hover {
                background-color: #000;
            }
        }
    }

    &--prev,
    &--next {
        position: absolute;
        top: (270/636)*100%;
        transform: translate(0,-50%);
        text-indent: 170%;
        width: 40px;
        height: 40px;
        white-space: nowrap;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto 20px;
    }

    &--prev {
        left: 10px;
        background-image: url(../img/arrow-left.png);
    }

    &--next {
        right: 10px;
        background-image: url(../img/arrow-right.png);
    }

    &--slide-links {
        display: flex;
        justify-content: center;
    }

    &--slide-link {
        margin: 0 20px;
        padding: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;

        &.active {
            background-color: #fff;
            color: #000;
            cursor: default;
        }
    }
}
