//----------------------------------------------------
// Colours
//----------------------------------------------------

$link-color: #33f;
$link-color-hover: #306;
$text-color: #333;

$accessibility: #1DF00F;

//----------------------------------------------------
//  fonts
//----------------------------------------------------

$font-sans: 'Helvetica Neue', helvetica, arial, verdana, sans-serif !default;
$font-serif: Georgia, 'Times New Roman', Times, serif !default;
$font-mono: Monaco, Menlo, Consolas, 'Courier New', monospace !default;
$font-heading: 'Helvetica Neue', helvetica, arial, verdana, sans-serif !default;

//----------------------------------------------------
//  base typography
//----------------------------------------------------

$font-size: 14px;
$font-size-h1: 30px;
$font-size-h2: 26px;
$font-size-h3: 22px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 14px;

$line-height-base: 1.4;

$font-weight-light: lighter;
$font-weight-regular: normal;
$font-weight-bold: bold;
